awscli==1.16.238
awsebcli==3.15.3
boto3==1.9.228
botocore==1.12.228
dash==1.2.0
dash-core-components==1.1.2
dash-html-components==1.0.1
dash-renderer==1.0.1
dash-table==4.2.0
Flask==1.1.1
Flask-Compress==1.4.0
gunicorn==19.9.0
pandas==0.25.1
plotly==4.1.1
s3fs==0.4.0

